<?xml version="1.0"?>


<launch>

     <param name="/use_sim_time" value="true"/>
     <!-- <arg name="use_ground_truth_for_tf" default="true" /> -->

     <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find collvoid_stage)/world/swarmlab_map.yaml"/> -->
     <!-- <rosparam command="load" file="$(find collvoid_stage)/params/stage_params.yaml"/> 
     <rosparam command="load" file="$(find collvoid_stage)/params_created.yaml"/> -->

     <!-- Run the map server -->
     <!-- Notice the param frame_id in map_server node. By default frame_id is set to map and as map is shared for all robots, we need -->
     <!-- only one map and therefore we have to force the frame_id to fully qualified name /map -->
     <node name="map_server" pkg="map_server" type="map_server" args="$(find multirobot_orca)/map.yaml" >
          <param name="frame_id" value="/map" />
     </node>

     <!-- <rosparam command="load" file="$(find collvoid_stage)/params/stage_params.yaml"/>
     <rosparam command="load" file="$(find collvoid_stage)/params_created.yaml"/> --> -->

     <!-- Include all robots -->
     <include file="$(find multirobot_orca)/launch/robots.launch" /> 
 
     <!-- Run Map Merger -->
     <!-- <include file="$(find multirobot_orca)/launch/robots_MAPMERGE.launch" /> -->

     <!-- Run Gazebo -->
     <include file="$(find gazebo_ros)/launch/empty_world.launch">
          <arg name="use_sim_time" value="true"/>
          <arg name="debug" value="false"/>
          <arg name="world_name" value="$(find multirobot_orca)/worlds/kaustav1.world"/> 
     </include>

     <!-- <node pkg="collvoid_controller" type="controller.py" name="controller" output="screen"/>
     <node pkg="collvoid_controller" type="collvoid_visualizer.py" name="controller_viz" output="screen"/>  -->

     <node pkg="rviz" type="rviz" name="rviz" args="-d $(find multirobot_orca)/launch/rviz_config/orca.rviz" output="screen" /> 

            
</launch>


