<?xml version="1.0"?>

<launch> 

  <group ns="robot_0">

    <include file="$(find multirobot_orca)/launch/robot.launch"> 
      <arg name="init_pose" value="-x 0 -y 0 -z 0.0 " />     
      <arg name="robot_name" value="robot_0" />
    </include>

    <include file="$(find multirobot_orca)/launch/includes/amcl_orca.launch.xml">
      <arg name="robot" value="robot_0" />
      <arg name="initial_pose_x" value="0" />
      <arg name="initial_pose_y" value="0" />
      <arg name="initial_pose_a" value="0.0" />
    </include> 

    <include file="$(find multirobot_orca)/launch/includes/gmapping.launch" >
      <arg name="robot_name" value="robot_0" />
    </include> 

    <include file="$(find multirobot_orca)/launch/includes/move_base.launch.xml">
      <arg name="namespace" value="robot_0"/>
      <arg name="type" value="turtle"/>
      <arg name="controlled" value="true"/>
    </include>

    <!-- <node pkg="collvoid_controller" type="controller_robots.py" name="controller_robots" /> -->
 
  </group>

  <!-- <group ns="robot_1">
    <include file="$(find multirobot_orca)/launch/robot.launch"> 
      <arg name="init_pose" value="-x -1 -y 0 -z 0.0 " />     
      <arg name="robot_name" value="robot_1" />
    </include>
    <include file="$(find multirobot_orca)/launch/includes/amcl_orca.launch.xml">
      <arg name="robot" value="robot_0" />
      <arg name="initial_pose_x" value="1" />
      <arg name="initial_pose_y" value="0" />
      <arg name="initial_pose_a" value="0.0" />
    </include>  
    <include file="$(find multirobot_orca)/launch/includes/gmapping.launch" >
      <arg name="robot_name" value="robot_1" />
    </include> 
    <include file="$(find multirobot_orca)/launch/includes/move_base.launch.xml">
      <arg name="namespace" value="robot_1"/>
      <arg name="type" value="turtle"/>
      <arg name="controlled" value="true"/>
    </include>
    <node pkg="collvoid_controller" type="controller_robots.py" name="controller_robots" /> 
  </group> -->
  

  



  
</launch>




